main{    
    padding: 20px;
    margin:50px;
}



hr {
    border: none; 
    height: 3px; 
    background-color: #FCC996; 
    margin-top:50px ; 
}

@media(max-width: 730px){

    ul{
        font-size: 0.9rem;
    }

}


@media(max-width: 530px){

    
    ul{
        font-size: 0.7rem;
    }
    
}


